.footer_details {
  border-top: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 20px 80px 0 80px;
  max-height: 120px;
  min-height: 140px;
  cursor: pointer;
  padding: 0 20px 0;
}
.footer_details > h4 {
  margin: 0 0 0 0;
  text-align: start;
  padding-top: 10px;
}
.footer_detail {
  max-width: 280px;
  display: flex;
  margin: 10px 0 0 0;
  align-items: center;
}
.footer_detail > .MuiSvgIcon-root {
  margin: 0 5px 0;
}
.footer_detail > h5 {
  margin: 0;
  text-align: start;
}
